<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/listLayout.html :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <link href="https://getbootstrap.com/docs/5.2/examples/sign-in/" rel="canonical">

        <head>
            <meta charset="UTF-8">
            <title>Title</title>
        </head>
        <body>

        <div class="container container-fluid">
            <div style="margin-top : 40px; margin-bottom: 30px;">
                <h2> 역대 주문 내역 </h2>
            </div>
            <div class="row">
                <div class="col-md-3">상품 이미지</div>
                <div class="col-md-2">상품 이름</div>
                <div class="col-md-1">가격</div>
                <div class="col-md-1">사이즈</div>
                <div class="col-md-1">주문 숫자</div>
                <div class="col-md-1">총액</div>
                <div class="col-md-2">배송</div>
                <div class="col-md-1">주문날짜</div>
            </div>

            <div th:each="dto : ${result.dtoList}">
                <div class="row mt-2 mb-2">
                    <div class="col-md-3">
                        <img th:if="${dto.itemImage != null && dto.itemImage.path != null}"
                             th:src="|/display?fileName=${dto.itemImage.getThumbnailURL()}|" title="image"
                             width="120px" height="160px">
                    </div>
                    <div class="col-md-2">
                        <a th:href="@{/item/read(id=${dto.itemId})}" th:text="${dto.itemName}"></a>
                    </div>
                    <div class="col-md-1" th:text="${dto.ordersPrice}"></div>
                    <div class="col-md-1" th:text="${dto.size}"></div>
                    <div class="col-md-1" th:text="${dto.ordersCount}"></div>
                    <div class="col-md-1" th:text="${dto.totalPrice}"></div>
                    <div class="col-md-2" th:text="${dto.ordersStatus}"></div>
                    <div class="col-md-1" th:text="${#temporals.format(dto.regDate, 'yyyy/MM/dd  HH:mm')}"></div>
                </div>
            </div>
        </div>

        </body>

    </th:block>
</th:block>
</html>