<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/listLayout.html :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">

        <head>
            <meta charset="UTF-8">
            <title>Title</title>
        </head>
        <body>

        <div class="container container-fluid">
            <div style="margin-top : 40px; margin-bottom: 30px;">
                <h2> 판매 내역 확인 </h2>
            </div>
            <table class="table table-primary">
                <thead>
                <tr>
                    <th scope="col">상품 이미지</th>
                    <th scope="col">상품 이름</th>
                    <th scope="col">가격</th>
                    <th scope="col">사이즈</th>
                    <th scope="col">주문 숫자</th>
                    <th scope="col">총액</th>
                    <th scope="col">배송</th>
                    <th scope="col">주문날짜</th>

                </tr>
                </thead>

                <tbody>
                <tr th:each="dto : ${result.dtoList}">
                    <td><img th:if="${dto.itemImage != null && dto.itemImage.path != null}"
                             th:src="|/display?fileName=${dto.itemImage.getThumbnailURL()}|"
                             title="image" height="100px" width="80px"/></td>
                    <!--    <td th:text="${dto.itemName}"></td>-->
                    <!--    <td><a th:href="@{/item/read/{itemId}(itemId=${dto.getItemId})}">[[${dto.itemName}]]</a></td>-->
                    <td><a th:href="@{/item/read(id=${dto.itemId})}">[[${dto.itemName}]]</a></td>
                    <td th:text="${dto.ordersPrice}"></td>
                    <td th:text="${dto.size}"></td>
                    <td th:text="${dto.ordersCount}"></td>
                    <td th:text="${dto.totalPrice}" id="totalPrice"></td>
                    <td th:text="${dto.ordersStatus}"></td>
                    <td th:text="${#temporals.format(dto.regDate, 'yyyy/MM/dd  HH:mm')}"></td>

                </tr>
                </tbody>
            </table>
        </div>

        <script>
        </script>
        </body>

    </th:block>
</th:block>
</html>