<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:replace="~{/layout/listLayout.html :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">

        <head>
            <meta charset="UTF-8">
            <title>Title</title>
        </head>
        <body>

        <div class="container container-fluid">
            <div style="margin-top : 40px; margin-bottom: 30px;">
                <h2> 현재 주문 내역 </h2>
            </div>
            <table class="table table-primary">
                <thead>
                <tr>
                    <th scope="col">상품 이미지</th>
                    <th scope="col">상품 이름</th>
                    <th scope="col">가격</th>
                    <th scope="col">사이즈</th>
                    <th scope="col">주문 숫자</th>
                    <th scope="col">총액</th>
                    <th scope="col">배송</th>
                    <th scope="col">삭제</th>
                    <th scope="col">주문날짜</th>

                </tr>
                </thead>

                <tbody>
                <tr th:each="dto : ${result.dtoList}">
                    <td><img th:if="${dto.itemImage != null && dto.itemImage.path != null}"
                             th:src="|/display?fileName=${dto.itemImage.getThumbnailURL()}|"
                             title="image" height="100px" width="80px"/></td>
                    <!--    <td th:text="${dto.itemName}"></td>-->
                    <!--    <td><a th:href="@{/item/read/{itemId}(itemId=${dto.getItemId})}">[[${dto.itemName}]]</a></td>-->
                    <td><a th:href="@{/item/read(id=${dto.itemId})}">[[${dto.itemName}]]</a></td>
                    <td th:text="${dto.ordersPrice}"></td>
                    <td th:text="${dto.size}"></td>
                    <td th:text="${dto.ordersCount}"></td>
                    <td th:text="${dto.totalPrice}" id="totalPrice"></td>
                    <td th:text="${dto.ordersStatus}"></td>
<!--                    <td><button class="btn btn-success modifyBtn" th:attr="data-id=${dto.id}, data-cart-id=${dto.cartId}, data-item-id=${dto.itemId}, data-amount=${dto.amount}, data-size=${dto.size}">변경</button></td>-->
                    <td><button class="btn btn-danger cancelBtn" th:attr="data-id=${dto.id}">주문 취소 요청</button></td>
                    <td th:text="${dto.ordersId}" id="cartId" hidden="true"></td>
<!--                    <td th:text="${dto.regDate}"></td>-->
                    <td th:text="${#temporals.format(dto.regDate, 'yyyy/MM/dd  HH:mm')}"></td>

                </tr>
                </tbody>
            </table>
        </div>

        <ul class="pagination h-100 justify-content-center align-items-center" sec:authroize="isAuthenticated()">

            <li class="page-item " th:if="${result.prev}">
                <a class="page-link" th:href="@{/orders/ordersList/{memberId}(memberId=${memberId},page=${result.start - 1})}" tabindex="-1">Previous</a>
            </li>

            <li th:class=" 'page-item'  + ${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                <a class="page-link" th:href="@{/orders/ordersList/{memberId}(memberId=${memberId}, page=${page})}">
                    [[${page}]]
                </a>
            </li>
            <li class="page-item" th:if="${result.next}">
                <a class="page-link" th:href="@{/orders/ordersList/{memberId}(memberId=${memberId}, pageRequestDTO.page=${result.end + 1})}">Next</a>

            </li>
        </ul>

        <script>

            $(document).ready(function () {
                $(".cancelBtn").on("click", function () {

                    const id = $(this).data("id");

                    var data = {
                        ordersItemId: id
                    };

                    $.ajax({
                        url: "/api/orders/cancelRequest/" + id,
                        type: "POST",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function (data) {
                            console.log(data);
                            self.location.reload();
                        },
                        error: function () {
                            alert("변경에 실패했습니다.");
                        }
                    });

                });
            });
        </script>
</body>

    </th:block>
</th:block>
</html>