<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf/extras/springsecurity">

<th:block th:replace="~{/layout/listLayout.html :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <style>
            label {
                padding: 0 5px;
            }

            #categoryRadio {
                margin-left : 16em;
            }
            #categoryBtn {
                margin-top :8px;
                margin-left : 15em;
            }
            #cancelBtn {
                margin-top :8px;
            }

            #itemNameSearch {
                float: right;
                marting-top : 3em;
            }
            .card-img-top {
                width: 100%;
                height: 250px;
            }
            .fa-heart-o {
                margin-top : 2px;
                font-size: 1.5em;
            }

            .fa-heart {
                margin-top : 2px;
                font-size : 1.5em;
            }
        </style>
        <div id="itemNameSearch">
            <input type="text" name="itemName" id="itemName" placeholder="상품이름">
            <button class="btn btn-primary" id="itemNameBtn">
                검색
            </button>
        </div>

        <section class="py-5">
            <div id="categoryRadio">
                <div>
                    <label>성별 :</label>
                    <th:block th:each="gender : ${genders}">
                        <label>
                            <input class="form-check-input" type="radio" name="gender" th:value="${gender.getValue()}" th:text="${gender.name()}">
                        </label>
                    </th:block>
                </div>

                <div>
                    <label>계절 :</label>
                    <th:block th:each="season : ${seasons}">
                        <label>
                            <input class="form-check-input" type="radio" name="season" th:value="${season.getValue()}" th:text="${season.name()}">
                        </label>
                    </th:block>

                </div>

                <div>
                    <label>종류 :</label>
                    <th:block th:each="clothType : ${clothTypes}">
                        <label>
                            <input class="form-check-input" type="radio" name="clothType" th:value="${clothType.getValue()}" th:text="${clothType.name()}">
                        </label>
                    </th:block>
                </div>

                <button class="btn btn-primary" id="categoryBtn">
                    검색
                </button>
                <button class="btn btn-warning" onclick="deselect()" id="cancelBtn">선택해제</button>
            </div>
            <div class="container px-4 px-lg-5 mt-5">

                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                        <div class="col mb-6" th:each="dto : ${result.dtoList}">
                            <div class="card h-100" th:onclick="|location.href='@{/item/read(id = ${dto.id})}'|">
                                <!-- Product image-->
<!--                                <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />-->
<!--                                <img class="card-img-top"  th:if="${dto.itemImageDTO.path != null}" th:src="|/display?fileName=${movieImage.getThumbnailURL()}|">-->

<!--                                    <ul >-->
                                        <div th:each="itemImage: ${dto.imageDTOList}" th:data-file="${itemImage.getThumbnailURL()}">
                                            <img class="card-img-top"  th:if="${itemImage.path != null}" th:src="|/display?fileName=${itemImage.getThumbnailURL()}|">
                                        </div>
<!--                                    </ul>-->

                                <!-- Product details-->
                                <div class="card-body p-4" >
                                    <div class="text-center">
                                        <!-- Product name-->
                                        <h5 class="fw-bolder"><td th:text="${dto.getItemName}"></td></h5>
                                        <!-- Product price-->
                                        <h6 class="fw-light">가격 :<td th:text="${dto.getPrice}"></td></h6>
                                        <td>평점 : <td th:text="${dto.avgRate}"></td></td>
                                        <td>리뷰 수 : </td><td th:text="${dto.reviewCnt}"></td>
                                        <div><td><i class="fa fa-heart" style="color:red;"></i></td><td th:text="${dto.likesCnt}"></td><div>
                                    </div>
<!--                                    <div class="btn btn-outline-dark mt-auto" href="#">View options</div>-->
                                </div>

                            </div>
                        </div>
                </div>
            </div>
        </section>

        <script>
            function getSelectedValue(name) {
                var selectedRadio = $("input[name='" + name + "']:checked");
                if (selectedRadio.length > 0) {
                    return selectedRadio.val();
                } else {
                    return null;
                }
            }

            function deselect() {
                $("input:radio[name='gender']").prop("checked", false);
                $("input:radio[name='season']").prop("checked", false);
                $("input:radio[name='clothType']").prop("checked", false);
            }

            $(document).ready(function() {
                $("#categoryBtn").click(function() {
                    var genderValue = getSelectedValue("gender") || null;
                    var seasonValue = getSelectedValue("season") || null;
                    var clothTypeValue = getSelectedValue("clothType") || null;

                    if (genderValue !== null) {
                        genderValue = String(genderValue);
                    }

                    if (seasonValue !== null) {
                        seasonValue = String(seasonValue);
                    }

                    if (clothTypeValue !== null) {
                        clothTypeValue = String(clothTypeValue);
                    }

                    const query = new URLSearchParams({
                        gender: genderValue,
                        season: seasonValue,
                        clothType: clothTypeValue
                    }).toString();

                    const url = "/item/list?" + query;

                    $.ajax({
                        type: "GET",
                        url: url,
                        data: {
                            gender: genderValue,
                            season: seasonValue,
                            clothType: clothTypeValue
                        },
                        success: function(data) {
                            window.location.href = url;
                            // Handle success response from backend
                        },
                        error: function(jqXHR, textStatus, errorThrown) {
                            // Handle error response from backend
                        }
                    });
                });
                $("#itemNameBtn").click(function () {
                    var itemName = $('#itemName').val();

                    const query = new URLSearchParams({
                        itemName: itemName
                    }).toString();

                    url = '/item/list?' + query;

                    $.ajax({
                        url: url,
                        type: "GET",
                        data: {'itmName': itemName},
                        success: function (data) {
                            window.location.href = url;
                            // Handle success response from backend
                        },
                        error: function (jqXHR, textStatus, errorThrown) {
                            // Handle error response from backend
                        }

                    });
                });
            });
        </script>
        <!-- Footer-->
        <!-- Bootstrap core JS-->
    </th:block>
</th:block>
</html>
