<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/listLayout.html :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <!-- Navigation-->

        <!-- Product section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="row gx-4 gx-lg-5 align-items-center">
                    <div class="col-md-6">
<!--                        <div class="small mb-1" ><td th:text="${dto.id}"></div>-->
                        <h1 class="display-5 fw-bolder" ><td th:text="${dto.getItemName}"></h1>
                        <div class="fs-5 mb-5">
                            <span class="text-decoration-line-through">$<td th:text="${dto.getPrice}"></span>
                            <span>$<td th:text="${dto.getPrice}"></span>
                        </div>

                        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium at dolorem quidem modi. Nam sequi consequatur obcaecati excepturi alias magni, accusamus eius blanditiis delectus ipsam minima ea iste laborum vero?</p>

                        <div class="d-flex" id="addToCart">

                            <input type="hidden" th:value="${dto.getPrice}" id="price" name="price">
<!--                            <select class="form-select" id="itemSize" name="itemSize">-->
<!--                                <option value="S"> S 95 </option>-->
<!--                                <option value="M"> M 100 </option>-->
<!--                                <option value="L"> L 105 </option>-->
<!--                            </select>-->
                            <div class="input-group w-25">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">수량</span>
                                </div>
                                <input type="number" name="count" id="count" class="form-control" value="1" min="1">
                            </div>
                            <div class="input-group w-25">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">사이즈</span>
                                </div>
                                <input type="number" name="size" id="size" class="form-control" value="1" min="1">
                            </div>
                            <div class="text mgt-50">
                                <h5>결제 금액</h5>
                                <h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>
                            </div>
                            <button class="btn btn-outline-dark flex-shrink-0" type="button" name="addCart">
                                <i class="bi-cart-fill me-1"></i>
                                카트에 상품 담기
                            </button>
                            <!--                            </a>-->
                        </div>
                    </div>
                    <div class="uploadResult" style="text-align : center;">
                        <div th:each="itemImage: ${dto.imageDTOList}" th:data-file="${itemImage.getThumbnailURL()}">
                            <img  th:if="${itemImage.path != null}" th:src="|/display?fileName=${itemImage.getThumbnailURL()}|"
                                  width = 600px height = 800px>
                        </div>
                    </div>
                </div>

                <button type="button" class="btn btn-primary">
                    Review Count <span class="badge badge-light">[[${dto.reviewCnt}]]</span>
                </button>

                <button type="button" class="btn btn-info addReviewBtn">
                    Review Register
                </button>

                <button name="likeButton">
                    <i class="fa fa-heart" id="likesIcon-${item.id}" onclick="toggleLike(${item.id})" style="color:red"></i>
                </button>
                <span class="like">[[${likesCount}]]</span>


                <div class="list-group reviewList">

                </div>
                <div class="reviewModal modal" tabindex="-1" role="dialog">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Item Review</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group">
                                    <label> Reviewer Email</label>
<!--                                    <input type="text" class="form-control" name="email" placeholder="${member.email}" readonly="true">-->
<!--                                    <p><td th:text="${member.email}"></p>-->
                                </div>
                                <div class="form-group">
                                    <label>Grade <span class="grade"></span></label>
                                    <div class='starrr'></div>
                                </div>
                                <div class="form-group">
                                    <label>Review Title</label>
                                    <input type="text" class="form-control" name="title" placeholder="Item GOOD">
                                </div>
                                <div class="form-group">
                                    <label>Review text</label>
                                    <textarea type="text" class="form-control" name="text" placeholder="love it" rows="6"></textarea>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary reviewSaveBtn">Save Review</button>
                                <button type="button" class="btn btn-warning modifyBtn" >Modify Review</button>
                                <button type="button" class="btn btn-danger removeBtn" >Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--            <div class="cartModal modal" tabindex="-1" role="dialog">-->
<!--                <div class="modal-dialog" role="document">-->
<!--                    <div class="modal-content">-->
<!--                        <div class="modal-header">-->
<!--                            <h5 class="modal-title">Add Cart</h5>-->
<!--                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                <span aria-hidden="true">&times;</span>-->
<!--                            </button>-->
<!--                        </div>-->
<!--                        <div class="modal-body">-->
<!--                            <input class="form-control text-center me-3" id="itemAmount" type="num" value="1" style="max-width: 3rem" />-->
<!--                            <select class="form-select" id="itemSize" name="itemSize">-->
<!--                                <option value="S"> S 95 </option>-->
<!--                                <option value="M"> M 100 </option>-->
<!--                                <option value="L"> L 105 </option>-->
<!--                            </select>-->
<!--                        </div>-->
<!--                        <div class="modal-footer">-->
<!--                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                            <button type="button" class="btn btn-primary addCartBtn">Save Item to Cart</button>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </section>


        <!-- Footer-->
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
<!--        <script src="js/scripts.js"></script>-->

        <link th:href="@{/css/starrr.css}" rel="stylesheet">
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.min.css">
        <script th:src="@{/vendor/starrr.js}"></script>
        <script>
            $(document).ready(function (e) {
                calculateTotalPrice();

                $("#count").change(function () {
                    calculateTotalPrice();
                });
            });

            function calculateTotalPrice() {
                var count = $("#count").val();
                var price = $("#price").val();
                var totalPrice = price * count;
                $("#totalPrice").html(totalPrice + '원');
            }

            function addCart() {

                var url = "/api/cart/register/" + itemId;
                var paramData = {
                    itemId : $("#itemId").val(),
                    count : $("#count").val()
                };

                var param = JSON.stringify(paramData);

                $.ajax({
                    url: url,
                    type: "POST",
                    contentType: "application/json",
                    data: param,
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader(header, token);
                    },

                    dataType: "json",
                    cache: false,
                    success: function (result, status) {
                        alert("상품을 장바구니에 담았습니다.");
                        location.href = '/';
                    },

                    error: function (jqXHR, status, error) {

                        if (jqXHR.status == '401') {
                            alert("로그인 후 이용해주세요");
                            location.href = "/members/login";
                        } else {
                            alert(jqXHR.responseText);
                        }
                    }
                });
            }
                var grade = 0;
                var itemId = [[${dto.id}]];


                $('.starrr').starrr({
                    rating: grade,
                    change: function (e, value) {
                        if (value) {
                            console.log(value);
                            grade = value;
                        }
                    }
                });

                var reviewModal = $(".reviewModal");
                var inputEmail = $('input[name="email"]');
                var inputTitle = $('input[name="title"]');
                var inputText = $('textarea[name="text"]');



            $(".addReviewBtn").click(function () {

                    inputEmail.val("");
                    inputTitle.val("");
                    inputText.val("");

                    $(".removeBtn, .modifyBtn").hide();
                    $(".reviewSaveBtn").show();

                    reviewModal.modal('show');

                });

                $(".reviewSaveBtn").click(function () {
                    var data = {
                        itemId: itemId,
                        grade: grade,
                        title: inputTitle.val(),
                        text: inputText.val(),
                    };

                    console.log(data);

                    $.ajax({
                        url: '/review/' + itemId,
                        type: "POST",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function (result) {
                            alert("리뷰 등록 성공");
                            console.log("result: " + result);
                            self.location.reload();
                        },
                        error: function (jqXHR, status, error){

                            if(jqXHR.status == '500'){
                                alert("로그인 후 이용해주세요");
                                location.href = "/member/login";
                            }
                        }

                    })
                    reviewModal.modal('hide');
                });

                function getItemReviews() {
                    function formatTime(str) {
                        var date = new Date(str);

                        return date.getFullYear() + '/' +
                            (date.getMonth() + 1) + '/' +
                            date.getDate() + ' ' +
                            date.getHours() + ':' +
                            date.getMinutes();
                    }

                    $.getJSON("/review/" + itemId + "/all", function (arr) {
                        var str = "";

                        $.each(arr, function (idx, review) {

                            console.log(review);

                            str += ' <div class="card-body" data-reviewId=' + review.reviewId + '>';
                            str += ' <h5 class="card-title">' + review.title + '<span>' + "          " +review.grade + '</span></h5>';
                            str += ' <h5 class="card-text">' + review.text + '</h5>';
                            str += ' <h6 class="card-subtitle mb-2 text-muted">' + review.member.email + '</h6>';
                            str += ' <h6 class="card-subtitle mb-3 text-muted">' + formatTime(review.regDate) + '</h6>';
                            str += '</div>'
                        });
                        $(".reviewList").html(str);
                    });
                }

                getItemReviews();

                var reviewId;
                $(".reviewList").on("click", ".card-body", function () {

                    $(".reviewSaveBtn").hide();
                    $(".removeBtn, .modifyBtn").show();

                    var targetReview = $(this);
                    console.log(targetReview);

                    reviewId = targetReview.data("reviewid"); // reviewId라고 쓰면 에러
                    console.log("reviewId: " + reviewId);

                    inputTitle.val(targetReview.find('.card-title').clone().children().remove().end().text());
                    inputText.val(targetReview.find('.card-text').clone().children().remove().end().text());



                    var grade = targetReview.find('.card-title span').html();
                    $(".starrr a:nth-child(" + grade + ")").trigger('click');

                    $('.reviewModal').modal('show');
                });

                $(".modifyBtn").on("click", function () {

                    var data = {
                        reviewId: reviewId,
                        itemId: itemId,
                        grade: grade,
                        title: inputTitle.val(),
                        text: inputText.val(),
                    };

                    console.log(data);

                    $.ajax({
                        url: '/review/' + itemId + "/" + reviewId,
                        type: "PUT",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function (result) {
                            console.log("result: " + result);
                            self.location.reload();

                        }
                    })
                    reviewModal.modal('hide');
                });

                $(".removeBtn").on("click", function () {
                    var data = {reviewId: reviewId};
                    console.log(data);

                    $.ajax({
                        url: '/review/' + itemId + "/" + reviewId,
                        type: "DELETE",
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function (result) {
                            console.log("result: " + result);
                            self.location.reload();
                        }
                    })
                    reviewModal.modal('hide');
                });

        </script>

    </th:block>
</th:block>
</html>
