<!doctype html>
<html lang="en" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout/listLayout.html :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <link href="https://getbootstrap.com/docs/5.2/examples/sign-in/" rel="canonical">
        <head>
            <meta charset="UTF-8">
            <title>Title</title>
        </head>

        <style>

            body {
                background-color: #f1f1f1;
                font-family: Arial, sans-serif;
            }

            /*.container {*/
            /*  width: 80%;*/
            /*  margin: auto;*/
            /*  background-color: #fff;*/
            /*  padding: 20px;*/
            /*  border-radius: 10px;*/
            /*  box-shadow: 0 0 10px rgba(0,0,0,0.2);*/
            /*}*/
            h2 {
                text-align: center;
                color: #333;
                margin-top: 0;
            }

            .result {
                margin-top: 20px;
                padding: 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                background-color: #f9f9f9;
            }

            .result div {
                margin-bottom: 10px;
            }

            .comment-text {
                width: 80%;
            }

            .table td, .table th {
                vertical-align: middle;
            }
        </style>
        <body>
        <div class="container">
            <h2>Q&A 페이지</h2>
            <div class="result">
                <th:block th:if="${member != null}">
                    <input id="memberId" th:value="${member.id}" type="hidden">
                </th:block>
                <div><strong>ID:</strong> <span th:text="${result.id}"></span></div>
                <div><strong>제목 : </strong> <span th:text="${result.title}"></span></div>
                <div><strong>작성자 : </strong> <span th:text="${result.email}"></span></div>
                <div><strong>내용 : </strong> <span th:text="${result.content}"></span></div>
            </div>
        </div>
        <button class="btn btn-outline-success commentRegisterBtn" sec:authorize="isAuthenticated()">댓글 등록</button>
        <table class="table table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">댓글 작성자</th>
                <th scope="col">내용</th>
                <th scope="col">삭제</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${result.commentList}">
                <td th:text="${dto.email}"></td>
                <td class="comment-text" th:rows="6" th:style="'white-space: pre-wrap;'" th:text="${dto.text}"></td>
                <td>
                    <button class="btn btn-danger commentRemoveBtn"
                            th:attr="data-id=${dto.id}, data-member-id=${dto.memberId}">삭제
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

        <div class="commentModal modal" role="dialog" tabindex="-1">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Item Review</h5>
                        <button class="close" onclick="modalClose()" type="button">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label> Reviewer Email</label>
                            <input class="form-control" name="email" readonly="true" sec:authorize="isAuthenticated()"
                                   th:placeholder="${#authentication.getPrincipal().member.email}" type="text">
                            <!--            <p><td th:text="${#authentication.getPrincipal().member.email()}"></p>-->
                        </div>

                        <div class="form-group">
                            <label>Review text</label>
                            <textarea class="form-control" name="text" rows="6" type="text"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary commentSaveBtn" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>

        </div>


        <script>

            function modalClose() {
                $(".commentModal").modal('hide');
                $(".commentModal").hide();
                $('.jquery-modal').hide();
            }

            $(document).ready(function (e) {
                const commentModal = $(".commentModal");
                const boardId = [[${result.id}]]
                var inputText = $('textarea[name="text"]');


                $(".commentRegisterBtn").click(function () {
                    commentModal.show();

                    inputText.val("");


                });

                $(".commentSaveBtn").click(function () {
                    let text = inputText.val()
                    let data = {
                        boardId: boardId,
                        text: text,
                    }

                    console.log(data);

                    $.ajax({
                        url: "/api/comment/" + boardId,
                        type: "POST",
                        data: JSON.stringify(data),
                        contentType: "application/json; charset=utf-8",
                        dataType: "text",
                        success: function (result) {
                            console.log("result: " + result);
                            location.reload();
                        },
                        error: function (jqXHR, status, error) {

                            if (jqXHR.status == '500') {
                                alert("로그인 후 이용해주세요");
                                location.href = "/member/login";
                            }
                        }

                    })
                    commentModal.modal('hide');
                });
                $(".commentRemoveBtn").click(function () {
                    const commentId = $(this).data('id');
                    const memberId = $(this).data('member-id');
                    const loginId = document.getElementById("memberId")?.value;
                    if (loginId === null || loginId === undefined) {
                        alert("로그인 후 이용가능합니다.");
                        return;
                    } else if (loginId == memberId) {


                        $.ajax({
                            url: "/api/comment/" + commentId,
                            type: "DELETE",
                            contentType: "application/json; charset=utf-8",
                            dataType: "text",
                            success: function (result) {
                                location.reload();
                            }
                        });
                    } else {
                        alert("자신이 작성한 댓글만 삭제할 수 있습니다.")
                    }
                });
            });


        </script>
        </body>
    </th:block>
</th:block>
</html>