<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <title>403 오류 화면</title>
    <style>
        .container {
            max-width: 600px;
            margin: 0 auto;
        }

        .py-5 {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }

        hr {
            margin-top: 2rem;
            margin-bottom: 2rem;
            border: 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
<div class="container">
    <div class="py-5 text-center">
        <h2>403 오류 화면</h2>
    </div>
    <div>
        <p>요청 권한이 없습니다.</p>
        <p>권한을 확인해주세요</p>
    </div>
    <hr>
</div> <!-- /container -->
</body>
</html>