<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{/layout/listLayout.html :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sign-in/">

        <head>
    <meta charset="UTF-8">
    <title>Title</title>
        </head>
<body>
<!--    <div class="col mb-6" th:each="dto : ${result.dtoList}">-->
<!--        <div class="form-floating">-->
<!--            <input type="hidden" class="form-control"  id="id" th:value="${dto.getId()}" placeholder="id">-->
<!--            <label for="id">id</label>-->
<!--        </div>-->
<!--        <div class="form-floating">-->
<!--            <input type="hidden" class="form-control"  id="itemName" th:value="${dto.itemName}" placeholder="itemName">-->
<!--            <label for="itemName">itemName</label>-->
<!--        </div>-->
<!--    </div>-->
<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">상품 이미지</th>
        <th scope="col">상품 이름</th>
        <th scope="col">가격</th>
        <th scope="col">사이즈</th>
        <th scope="col">주문 숫자</th>
        <th scope="col">총액</th>
        <th scope="col">사이즈,수량 변경</th>
        <th scope="col">삭제</th>
    </tr>
    </thead>
    <tbody>
<tr th:each="dto : ${result.dtoList}">
    <td><img th:if="${dto.itemImage != null && dto.itemImage.path != null}"
             th:src="|/display?fileName=${dto.itemImage.getThumbnailURL()}|"></td>
    <td th:text="${dto.itemName}"></td>
    <td th:text="${dto.itemPrice}"></td>
    <td th:text="${dto.size}"></td>
    <td th:text="${dto.amount}"></td>
    <td th:text="${dto.totalPrice}"></td>
    <td><button class="btn btn-success modifyBtn" th:attr="data-id=${dto.id}, data-cart-id=${dto.cartId}, data-item-id=${dto.itemId}, data-amount=${dto.amount}, data-size=${dto.size}">변경</button></td>
    <td><button class="btn btn-danger removeBtn" th:attr="data-id=${dto.id}">삭제</button></td>

</tr>
    </tbody>
</table>
<div class="modifyModal modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Item Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="input-group w-50">
                <div class="input-group-prepend">
                    <span class="input-group-text">수량</span>
                </div>
                <input type="number" name="amount" id="amount" class="form-control" value="1" min="1">
            </div>
            <div class="input-group w-50">
                <div class="input-group-prepend">
                    <span class="input-group-text">사이즈</span>
                </div>
                <!--                                <input type="number" name="size" id="size" class="form-control" value="1" min="1">-->
                <select class="form-select" id="size" name="size">-->
                    <option value="S"> S 95 </option>
                    <option value="M"> M 100 </option>
                    <option value="L"> L 105 </option>
                </select>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-warning modifySubmitBtn" >Submit</button>
        </div>
    </div>
</div>

<script>

    var modifyModal = $(".modifyModal");

    $(document).ready(function () {
        $('.modifyBtn').on('click', function () {
            const id = $(this).data('id');
            const itemId = $(this).data('item-id');
            const amount = $(this).data('amount');
            const size = $(this).data('size');

            $('#id').val(id);
            $('#itemId').val(itemId);
            $('#amount').val(amount);
            $('#size').val(size);

            $('.modifyModal').modal('show');
        });

        $('.modifyModal').on('hidden.bs.modal', function(){
            $('#id').val('');
            $('#itemId').val('');
            $('#amount').val('');
            $('#size').val('');
    });


        $('#modifySubmitBtn').on('click', function () {
            const id = $(this).data('id');
            const amount = $('#amount').val(); // input amount 값 가져오기
            const size = $('#size').val(); // select box size 값 가져오기

            const data = {
                amount: amount,
                size: size
            };

            $.ajax({
                type: 'PUT',
                url: '/api/cart/' + id,
                data: JSON.stringify(data),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    console.log(data);
                    alert('변경이 완료되었습니다.');
                    window.location.reload();
                },
            error: function () {
                alert("변경에 실패했습니다.");
            }
        });
    });


        $(document).on("click", ".removeBtn", function () {
            const cartItemId = $(this).data('id');
            console.log("item ID is : " + cartItemId);

            $.ajax({
                url: '/api/cart/' + cartItemId,
                type: "DELETE",
                contentType: "application/json; charset=utf-8",
                dataType: "text",
                success: function (result) {

                    console.log("result: " + result);
                    self.location.reload();
                },
                error: function () {
                    alert("삭제에 실패했습니다.");
                }
            });

        });
    });


</script>
</body>
    </th:block>
</th:block>
</html>