<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head><meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<h1>로그인</h1>
<form>

    <div>상품 종류</div>
    <div th:each="clothType : ${clothTypes}" class="form-check-inline">
        <input type="checkbox" th:field="${clothType}" th:value="${clothType}" class="form-check-input">
        <label th:for="${#ids.prev('clothType')}" th:text="${clothType}">
            clothType</label>
    </div>

    <div class="form-group">
        <div>상품 종류</div>
        <div th:each="clothType : ${clothTypes}" class="form-check-inline">
            <
        </div>
    </div>

</form>

</body>
</html>